  
<!doctype html>
<html lang="en">
    <head>
        <title>Lunch Checker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <style>
            .message { font-size: 1.3em; font-weight: bold; }
            .error { color: red;}
            .success { color: green;}
            .border-green { border-color: green; }
            .border-red { border-color: red; }
        </style>
    </head>
    <body ng-app="LunchCheck">
        <div class="container" ng-controller="LunchCheckController">
            <h1>Lunch Checker</h1>

            <div class="form-group">
                <input id="lunch-menu" type="text"
                placeholder="list comma separated dishes you usually have for lunch"
                class="form-control {{borderClass}}"
                ng-model="dishes">
                <label>This solution NOT consider an empty item, i.e., <code>, ,</code> or <code>,,</code> as an item towards to the count</label>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
            </div>
            <div class="form-group message {{messageClass}}">
                {{message}}
                <!-- Your message can go here. -->
            </div>
        </div>

        <script src="../../angular.js"></script>
        <script src="app.js"></script>
    </body>
</html>